<section class="section section-shaped section-md">
  <div class="shape shape-style-1 bg-gradient-default">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="container pt-lg-6">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="card bg-secondary shadow border-0">
          <div class="card-header bg-white pb-5">
            <div class="text-lg-center text-center" style="font-size: 30px">Login</div>
          </div>
          <div class="card-body px-lg-10 py-lg-5">
            <div class="text-center text-muted mb-4">
              <small>Sign in with credentials</small>
            </div>
            <form role="form">
              <!--VISIBLE IN PART 1 -->
              <div *ngIf="!isPartB() && !isPartC();" class="form-group mb-3">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                  </div>
                  <input class="form-control" placeholder="Username" type="text">
                </div>
              </div>
              <!--VISIBLE IN PART 2 -->
              <div *ngIf="isPartB();" class="form-group focused"> 
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input class="form-control" placeholder="Password" type="password">
                </div>
              </div>
              <div *ngIf="isPartB();" class="form-group focused"> 
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input class="form-control" placeholder="SMS CODE" type="password">
                </div>
              </div>

              <div class="text-center">
                <button id="btnSubmit" type="button" class="btn btn-primary my-4" (click)="signIn()">Next</button>
              </div>
            </form>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6">
            <a href="#" class="text-light"><small>Forgot password?</small></a>
          </div>
          <div class="col-6 text-right">
            <a href="#" class="text-light" routerLink="/signup"><small>Create new account</small></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shape shape-style-1 bg-gradient-default">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span> 
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</section>

