<section class="section section-shaped section-md">
  <div class="shape shape-style-1 bg-gradient-default">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="container pt-lg-6">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="card bg-secondary shadow border-0">
          <div class="card-header bg-white pb-5">
            <div class="text-lg-center text-center" style="font-size: 30px">
              Create Account
            </div>
          </div>
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <small>Create account with credentials</small>
            </div>
            <form [formGroup]="signUpForm" (ngSubmit)="signUpUser()">
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="ni ni-single-02"></i
                    ></span>
                  </div>
                  <input
                    class="form-control"
                    placeholder="Username"
                    type="e-mail"
                    name="email"
                    formControlName="email"
                    required
                  />
                </div>
              </div>
              <div class="form-group focused">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="ni ni-mobile-button"></i
                    ></span>
                  </div>
                  <input
                    class="form-control"
                    placeholder="Phone Number"
                    type="tel"
                    name="phonenumber"
                    formControlName="phoneNumber"

                  />
                </div>
              </div>
              <div class="form-group focused">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="ni ni-lock-circle-open"></i
                    ></span>
                  </div>
                  <input
                    class="form-control"
                    placeholder="Password"
                    type="password"
                    name="password"
                    formControlName="password"

                  />
                </div>
              </div>
              <div
                class="custom-control custom-control-alternative custom-checkbox"
              >
                <input
                  class="custom-control-input"
                  id=" customCheckLogin"
                  type="checkbox"
                />
                <label class="custom-control-label" for=" customCheckLogin"
                  ><span>Remember me</span></label
                >
              </div>
              <div class="text-center">
                <button
                  type="submit"
                  class="btn btn-primary my-4"
                >
                  Sign up
                </button>
              </div>
            </form>
          </div>
        </div>
        <div style="text-align: center; margin-top: 10px">
          <a href="#" class="text-light" routerLink="/login"
            ><small>Signin to account</small></a
          >
        </div>
      </div>
    </div>
  </div>
</section>

