<section class="section section-shaped section-md">
  <div class="shape shape-style-1 bg-gradient-default">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="container pt-lg-6">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="card bg-secondary shadow border-0">
          <div class="card-header bg-white pb-5">
            <div class="text-lg-center text-center" style="font-size: 30px">
              Welcome to Zen Manager
              <img src="assets/theme/logo.png" />
            </div>
          </div>
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <small>The easy way to handle properties</small>
            </div>
            <form role="form">
              <div class="text-center">
                <button
                  routerLink="/signup"
                  type="button"
                  class="btn btn-primary my-4"
                >
                  Sign Up
                </button>
                <button
                  routerLink="/login"
                  type="button"
                  class="btn btn-primary my-4"
                >
                  Log in
                </button>
                <button
                  routerLink="/properties"
                  type="button"
                  class="btn btn-primary my-4"
                >
                  My Properties
                </button>
                <button
                  routerLink="/home"
                  type="button"
                  class="btn btn-primary my-4"
                >
                  View Property
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
